@using GestionUsuarios.ViewsModels
@model LoginViewModelo

@{
    ViewData["Title"] = "Log in";
}


<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Login</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Email" aria-required="true" />
                    <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                <input asp-for="Password" class="form-control" placeholder="Contraseña" aria-required="true" />
                    <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                
                <div class="row">
                    <div class="col-8">
                        <div class="checkbox">
                            <label asp-for="Recuerdame" class="form-label">
                            <input class="form-check-input" asp-for="Recuerdame" />
                            @Html.DisplayNameFor(m => m.Recuerdame)
                            </label>
                        </div>
                    </div>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a >Olvide la contraseña</a>
                    </p>
                    <p>
                        <a asp-controller="Cuentas" asp-action="Registrar" >Registrar Nuevo Usuario</a>
                    </p>
                </div>
                </form>
            </div>
    
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
